*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
a{
    text-decoration: none;
}
ul{ list-style-type: none;
}
:root{
    --primarycolor:#FB2E86;

--mainfont:"Lato", sans-serif;
}

.btn{
    border: none;
    outline: none;
    color: #fff;
    padding: 16px 40px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.btn-primary{
        background-color: var(--primarycolor);

}
.btn-success{
    background-color: #08D15F;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
} 
.container{
    width:calc(100% - 320px); 
    margin: auto;
}