body{
    font-family: var(--mainfont);
}
.header{
  
    padding: 57px 0;

}
.header ul{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}
.bar{
    display: none;
}
.list a{
    color: #0d0e43;
}
.list .active{
    color: var(--primarycolor);
}
.search form{
    border: 2px solid #E7E6EF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
}
.search input{
    border: none;
    outline: none;
    width: 250px ;
    padding-left: 10px;
}
.search button{
    border: none;
    outline: none;
    background-color: var(--primarycolor);
    padding: 8px 13px;
    
}
.search img{
    width: 18px;
}

@media screen and (max-width:1200px){
.list,.header .search
{        display: none;
}
    .bar{
        display: block;
    }
    
}
/*End Header*/

/*Start Newslater*/
.Newslater{
  background-image: url(./../image/public/newsletter.webp);
  padding: 175px 0;
  text-align: center;
}

.Newslater h2{
    margin-bottom: 30px;
    color: #151875;
    font-size: 50px;
}
.shop-btn{
    transition:all 0.5 ;
    -webkit-transition:all 0.5 ;
    -moz-transition:all 0.5 ;
    -ms-transition:all 0.5 ;
    -o-transition:all 0.5 ;
}

.shop-btn:hover{
    background-color: #0d0e43;
}

/*End Newslater*/
/*Start clients*/

.clients{
    padding: 50px 0;
}
.clients .row{
    flex-wrap: nowrap;
    gap: 15px ;
    overflow-x: auto;
}
.clients .logo{
    width: calc((100% - 75px)/6);
    padding: 0 15px;
}
.clients  img{
width: 150px;
height: 150px;}
@media screen and (max-width:900px){
    .clients .logo{
        width: calc((100% - 30px)/3);
    }

    
}

/*End clients*/


/*start Footer*/
.footer{
    background-color: #EEEFFB;
    padding: 50px 0;

}
.footer .row{
    gap: 30px;
    align-items: flex-start;
}
.footer .left-side{
    gap: 35px;
   align-items: flex-start;
   width: calc((100% - 30px)/2);
}
.footer a,.address-info{
    color: #8A8FB9;
}
.footer .right-side{
   width: calc((100% - 30px)/2);

}
.footer .right-side .row{
    gap: 35px;
}
.footer-item{
    gap: 45px;
    width: calc((100% - 70px)/3);
}
@media  screen and (max-width:992px){
    .footer .left-side,.footer .right-side{
        width:100% ;
    }
    
}

@media  screen and (max-width:576px){
    .footer{
text-align: center;
    }
    .footer-item{
        width: 100%;
    }
}

/*End Footer*/